html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	margin: 0;
}

ul {
	padding-left: 10px;
}

button {
	background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
	cursor: pointer;
	padding: 10px 16px;
}
button + button {
	margin-left: 8px;
}

.ac-input {
	padding: 10px 16px;
}

.ac-multichoiceInput {
	padding-left: 6px;
}

#root {
	margin: 1rem;
}

.cards {
	list-style-type: none;
	padding-left: 0;
}

.card {
	display: flex;
	width: auto;
}
.card + .card {
	margin-top: 2rem;
}
.card.is-active {
	background-color: #74ea63;
}
.card--response {
	justify-content: flex-end;
}

.card-icon {
	align-items: center;
	background-color: #005eaa;
    border-radius: 100%;
    color: #fff;
	display: flex;
	font-size: 75%;
    font-weight: bold;
	height: 40px;
    justify-content: center;
	margin-top: 8px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
}
.card--response .card-icon {
	background-color: #006778;
}

.card-body {
	background-color: #fff;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 4px;
    padding: 1rem;
    position: relative;
}
.card-body :first-child {
	margin-top: 0;
}
.card-body :last-child {
	margin-bottom: 0;
}
.card-icon + .card-body,
.card-body + .card-icon {
	margin-left: 1rem;
}
