/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	START CUSTOM STYLES & OVERRIDES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
	--blue: #0063b1;
	--teal: #006778;
	--white: #fff;
	--light: #e6e6e6;
	--dark: #333;
	--black: #000;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.45;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

ul {
	padding-left: 20px;
}

button {
	cursor: pointer;
	font-size: inherit;
}

.ac-input {
	padding: 10px 16px;
}

.ac-multichoiceInput {
	padding-left: 6px;
}

#root {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
	padding: 10px;
}

/* Disabled buttons */
#root button.disabled {
	background-color: #999;
	color: var(--black);
	cursor: default;
}
/* Disabled buttons that have been clicked */
#root button.disabled.is-clicked {
	background-color: var(--blue);
	color: var(--white);
}

.spinner {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.chatboxes {
	list-style-type: none;
	padding-left: 0;
}

.chatbox {
	display: flex;
	width: auto;
}
/* When a .chatbox is next to another */
.chatbox + .chatbox {
	margin-top: 10px;
}
/* When a .chatbox are next to a .chatbox--response || vice versa */
.chatbox:not(.chatbox--response) + .chatbox--response,
.chatbox--response + .chatbox:not(.chatbox--response) {
	margin-top: 30px;
}
.chatbox--response {
	justify-content: flex-end;
}

.chatbox-icon {
	align-items: center;
	/* background-color: #005eaa; */
    border-radius: 100%;
    color: var(--white);
	display: flex;
	font-size: 75%;
    font-weight: bold;
	height: 40px;
    justify-content: center;
	margin-top: 8px;
    min-height: 40px;
    min-width: 40px;
    width: 40px;
}
.chatbox--response .chatbox-icon {
	background-color: var(--teal);
	margin-top: 0;
}

.chatbox-body {
	background-color: var(--white);
    border: 1px solid;
    border-color: var(--light);
    border-radius: 2px;
    padding: 10px;
    position: relative;
}
.chatbox-body :first-child {
	margin-top: 0;
}
.chatbox-body :last-child {
	margin-bottom: 0;
}
.chatbox-icon + .chatbox-body,
.chatbox-body + .chatbox-icon {
	margin-left: 10px;
}

.chatbox-btn,
.ac-pushButton {
	background-color: var(--white);
    border-style: solid;
	border-width: 1px;
	color: var(--blue);
	display: block;
	outline: 2px solid transparent;
	padding: 10px 16px;
	width: 100%;
}
.chatbox-btn:focus,
.chatbox-btn:hover,
.ac-pushButton:focus,
.ac-pushButton:hover {
	background-color: var(--blue);
	color: var(--white);
}
.chatbox-btn:active,
.ac-pushButton:active {
	border-color: var(--dark);
	outline: 1px solid var(--dark);
}
.chatbox-btn + .chatbox-btn,
.ac-pushButton + .ac-pushButton {
	margin-top: 6px;
}

.newMessage{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	border-width:0px;
	color:white;
	padding:10px;	
	right:22px;	
	z-index: 1;
	position: fixed;
	cursor: pointer;
	display: none;
	font-size: smaller;
}